
body{
    background-color: black;
     font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;

}
.card{
    width:90%;
    max-width:470px;
    background-color: rgba(3, 109, 91, 0.699);
    color: white;
    margin: 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
button{
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    cursor: pointer;

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search-icon{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
h1{
    font-size: 80px;
    font-weight: 500;
}
h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.humidity-icon{
    width: 40px;
    margin-right: 10px;
}
.wind-icon{
    width: 40px;
      margin-right: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.humidity{
    font-size: 28px;
    margin-top: -6px;
}
.wind{
    font-size: 28px;
    margin-top: -6px;
}